.footer{
    width: 100%;
    height: 80px;
    background-color: black;

}
.container{
    max-width: 1040px;
    height: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container p{
   color: aliceblue;
}
.footer button{
    background-color: rgb(33, 33, 220);
    color: aliceblue;
    padding: 5px;
    font-weight: bold;
}